:root {
	--primary-clr: hsl(225, 100%, 94%);
	--primary-clr-2: hsl(245, 75%, 52%);

	--secondary-clr: hsl(225, 100%, 98%);
	--secondary-clr-2: hsl(224, 23%, 55%);
	--secondary-clr-3: hsl(223, 47%, 23%);

	--fs-n: 16px;

	--ff-n: "Red Hat Display", sans-serif;
}

body {
	font-family: var(--ff-n);
	font-size: var(--fs-n);
	color: var(--secondary-clr-2);
	text-align: center;
	background-color: var(--primary-clr);
	margin: 0;
	background: url(images/pattern-background-mobile.svg);
}

@media (min-width: 800px) {
	body {
		background: url(images/pattern-background-desktop.svg);
	}
}

p {
	line-height: 1.5rem;
	padding: 0 2rem;
}

button {
	font-size: var(--fs-n);
}

main {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.order-summary-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 375px;
	background-color: white;
	border-radius: 15px;
	overflow: hidden;
}

.lower-part-container {
	padding: 1rem;
}

.description {
	padding-left: 1.1rem;
	padding-right: 1.1rem;
}

.picture-1 img {
	width: 375px;
}

header {
	font-size: 1.5rem;
	color: var(--secondary-clr-3);
	font-weight: 900;
	margin-top: 1.25rem;
	margin-bottom: 1.2rem;
}

.purchase {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 3rem;
	align-items: center;
}

.left-part {
	display: flex;
	padding-left: 1.5rem;
}

.music-icon {
	margin-right: 1rem;
}

.order-plan {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.plan {
	font-weight: 900;
	color: var(--secondary-clr-3);
}

.right-part {
	padding-right: 2rem;
	text-decoration: underline;
	color: blue;
	font-weight: 500;
}

.right-part:hover {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.8;
}

.btn1 {
	width: 90%;
	padding: 1rem;
	color: white;
	font-weight: 700;
	background-color: var(--primary-clr-2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 10px;
	margin-top: 2rem;
}

.btn1:hover {
	cursor: pointer;
	opacity: 0.8;
}

.cancel-order {
	font-weight: 900;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	color: var(--secondary-clr-2);
	background-color: white;
	border: none;
	font-weight: 700;
	font-size: 0.9rem;
}

.cancel-order:hover {
	color: black;
	cursor: pointer;
}

.attribution {
	font-size: 11px;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%);
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
